@using Productos
@model Producto


<form asp-controller="Productos" asp-action="Create" method="post">
    <label class="form-label" for="Id">Id</label>
    <input class="form-control" value="@Model.IdProducto" id="Id" type="number" asp-for="IdProducto" disabled/>
    <label for="Descripcion" class="form-label">Descripcion</label>
    <input id="Descripcion" class="form-control" type="text" asp-for="Descripcion" >
    <label for="Precio" class="form-label">Precio</label>
    <input id="Precio" class="form-control" type="number" asp-for="Precio" />
    <input type="submit" class="btn" />
</form>