@using Presupuestos
@model List<Presupuestos.Presupuesto>
@{
    ViewData["Title"] = "Home Page";
}

<table class="table table-striped">
    <thead>
        <tr>
            <th>Id</th> <th>Nombre Destinatario</th> <th>Fecha Creacion</th> <th>Detalles</th>
        </tr>
    </thead>
    <tbody>
        @foreach(Presupuesto presupuesto in @Model){
            <tr>
                <td>@presupuesto.IdPresupuesto</td> <td>@presupuesto.NombreDestinatario</td> <td>@presupuesto.FechaCreacion</td> <td><a asp-action="Detalles" asp-route-id="@presupuesto.IdPresupuesto" asp-controller="Presupuestos" asp-area="">Ver detalles</a></td>
            </tr>
        }
    </tbody>
</table>