@model tl2_tp8_2025_carlitos0707.Models.Producto
@{
    ViewData["Title"] = "Home Page";
}

<table>
    <thead>
        <tr>
            <th>
            
            </th>
        </tr>
    </thead>
</table>